@font-face {
    font-family: 'CustomFont';
    src: url('316PANIKhaoJaiDemo-Regular.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', sans-serif;
    text-align: center;
    background-color: #fff8e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#content {
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}